default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_bin
  pool: 5
  socket: /var/run/mysqld/mysqld.sock

production:
  <<: *default
  database: <%= Rails.application.credentials.production[:database_name] %>
  username: <%= Rails.application.credentials.production[:database_username] %>
  password: <%= Rails.application.credentials.production[:database_password] %>

staging:
  <<: *default
  database: <%= Rails.application.credentials.production[:database_name] %>
  username: <%= Rails.application.credentials.production[:database_username] %>
  password: <%= Rails.application.credentials.production[:database_password] %>
